@import url(./_enabled/info-edit__submit_enabled.css);

.info-edit__submit {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 48px 0 37px 0;
    width: 83%;
    height: 50px;

    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    color: rgba(0, 0, 0, .3);
    border-radius: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 415px) {
    .info-edit__submit {
        width: 70%;
    }
}