.info__edit-button {
    grid-area: edit-bttn;
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
}

@media screen and (max-width: 750px) {
    .info__edit-button {
        margin: 34px 0 0 18px;
    }
}