@import url(./__avatar/info__avatar.css);
@import url(./__edit-button/info__edit-button.css);
@import url(./__job/info__job.css);
@import url(./__name/info__name.css);
@import url(./__text-block/info__text-block.css);


.info {
    display: grid;
    grid-template-areas: 
    'avatar name edit-bttn add-bttn'
    'avatar job - -';
    grid-template-columns: 120px min-content 42px 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0 8px;
}

@media screen and (max-width: 800px) {
    .info {

    }
}