.popup__container {
    position: absolute;
    margin: auto;
    max-width: 430px;
    max-height: 350px;
    border-radius: 5px;
    z-index: 2;
    background-color: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 510px) {
    .popup__container {
        margin: auto 19px;
    }
}

.popup__container.popup__delete-card-container {
    max-height: 181px;
}

.popup__container.popup__edit-avatar {
    max-height: 272px;
}