@import url(./__img/card__img.css);
@import url(./__info/card__info.css);
@import url(./__like-icon/card__like-icon.css);
@import url(./__place/card__place.css);
@import url(./__bin-icon/card__bin-icon.css);

.card {
    border-radius: 10px;
    background-color: #fff;
    width: 282px;
    height: 361px;
}